@{
}
@section Styles {
}
<div class="container" id="main">
    <div class="row">
        <div class="col-sm-4 col-md-4 game" v-if="games" v-for="game in games">
            <h3>{{game.Name}}</h3>
            <p>{{game.Description}}</p>
            <a v-on:click="deleteGame(game.Id)" class="btn btn-warning" href="#">Delete Game</a>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/client/js/games.js"></script>
}